@import url('https://fonts.googleapis.com/css2?family=Saira:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Saira', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  font-family: 'Saira', sans-serif;
}

.App {
  background-color: white;
}

#start-section {
  background-color: white;
}

.start-logo {
  width: 100%;
  max-width: 450px;
}

.profile-img {
  width: 100%;
  max-width: 250px;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-img:hover {
  width: 100%;
  max-width: 250px;
  opacity: 0.75;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}